<div class="home">
    <div class="home-jumbo"
         style="background-image: url('{{ jumbo_image|default(citipo_theme_asset_url('assets/home-default.jpg')) }}');">
        {% if jumbo_overlay %}
            <div class="home-jumbo-overlay"></div>
        {% endif %}

        <div class="home-jumbo-intro-container">
            <div class="home-jumbo-intro">
                <div class="home-jumbo-intro-view">
                    <h2>
                        {{ jumbo_title|default('Representing Civic Tech at the European scale') }}
                    </h2>

                    <div class="home-jumbo-intro-split"></div>

                    <p>
                        {{ jumbo_content|default('We are civictech companies representing the diversity of the sector. We help institutions to empower citizens and respond to the crisis of democracy. Meet our members !')|raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% for key, block in blocks %}
        {% if 'home-about-us' in block.content %}
            <div class="home-about-us">
                <div class="home-about-us-left">
                    {{ block.content|raw }}
                </div>
                <div class="home-about-us-right"></div>
            </div>
        {% elseif 'home-join' in block.content %}
            <div class="home-join">
                <div class="home-join-view">
                    {{ block.content|raw }}
                </div>
            </div>
        {% else %}
            <div class="home-blocks">
                {{ block.content|raw }}
            </div>
        {% endif %}
    {% endfor %}
</div>
